@import "_typography.scss";
@import "_variables.scss";

//mobile
body {
  #icon-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin-left: 80px;
    margin-top: 20px;

    i {
      color: $secondary-color;
    }
  }

  #wave {
    display: flex;
    justify-content: flex-end;
  }
}

//desktop
@media only screen and (min-width: 768px) {
  body {

    #icon-grid {

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 20px;
      align-content: center;
      margin-left: 400px;
      margin-top: 50px;

      i {
        color: $secondary-color;
      }
    }

    #wave {
      display: flex;
      justify-content: flex-end;
    }
  }
}