@import "_variables.scss";
@import "_typography.scss";

//query with the desktop nav disappearing in mobile
//mobile version


.desktop-nav{
  display: none;
}

.topnav {
  overflow: hidden;
  background-color: $primary-color;
  position: relative;

  #myLinks {

    display: none;

    .mobilenav {
      color: $secondary-color;
      background-color: #2f84bf;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;

      &:hover {
        background-color: $quaternary-color;
        color: white;
      }
    }


  }

  .icon {

    i {
      background-color:
        $primary-color;
      color: $secondary-color;
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      padding-top: 10px;
    }
  }
}




// desktop version



@media only screen and (min-width: 768px) {
  .topnav {
    display: none;
  }

  .desktop-nav {
display: unset;
    ul {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      li {
        margin-left: 20px;
        margin-right: 20px;
        list-style-type: none;

        a {
          list-style-type: none;
          color: #d2d3de;
          font-family: 'Fjalla One', sans-serif;
          text-decoration: underline;
          font-size: 20px;

          &:hover {
            color: rgb(238, 158, 171);
            text-decoration: none;
          }
        }
      }
    }
  }


}